@import url("./fonts/stylesheet.css");
body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "Noto Sans Thai UI", "system-ui", "Thonburi",
    "Tahoma", "sans-serif";
  transition: 0.3s all ease;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
